apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-argo-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/OuaritHajar/GitOpsCD.git
    targetRevision: HEAD
    path: Kubernetes
  destination:
    server: https://kubernetes.default.svc
    namespace: app
  syncPolicy:
    automated:
      selfHeal: true
      prume: true
